# GZIP
AddOutputFilterByType DEFLATE application/javascript \
                              text/css \
                              text/html \
                              text/plain \
                              text/xml \
                              text/javascript

# NEVER CACHE HTML
<FilesMatch "\.(html)$">
Header set Cache-Control "max-age=0, private, no-store, no-cache, must-revalidate"
</FilesMatch>

# ALWAYS CACHE EVERYTHING ELSE
<FilesMatch "\.(css|gif|jpg|jpeg|png)$">
Header set Cache-Control "max-age=31536000, public"
</FilesMatch>
