@import "fonts.less";

@background: white;

body {
    background: @background;
    font-family: CenturyGothicStd-Bold;
    margin: 0;
    overflow-y: scroll;
    letter-spacing: -0.4px;
}

@gridWidth: 190px;
@padding: 20px;

* {
    font-weight: normal;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

menu {
    width: @gridWidth;
    padding: 0;
    margin: 0;
    padding: @padding;
    height: 100%;

    li {
        list-style-type: none;
        margin-bottom: .5em;
        line-height: 1.2;
        word-spacing: 500px;
    }

    a {
        display: block;
    }

    &.projects {
        left: @gridWidth;
        position: absolute;

        li {
            font-family: CenturyGothicStd-Italic;
        }

        .active {
            font-family: CenturyGothicStd-Bold;
        }
    }

    &.main {
        text-transform: uppercase;

        .active span {
            border-bottom: 1px black solid;
        }
    }
}

.meta {
    width: @gridWidth;
    right: 0;
    padding: @padding;
    word-spacing: 500px;

    h1 {
        font-size: inherit;
        text-decoration: inherit;
        margin: 0;
    }

    .description {
        font-family: CenturyGothicStd-Italic;
        text-transform: uppercase;
    }
}

menu.main, .meta {
    position: fixed;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.content {
    position: absolute;
    left: @gridWidth * 2;
    right: @gridWidth;
    padding: @padding;
    font-family: CenturyGothicStd-Italic;


    &.home {
        left: @gridWidth;
        font-family: CenturyGothicStd-Bold;
        white-space: pre-line;
    }

    p:first-child {
        margin-top: 0;
    }
}

img {
    display: block;
    width: 100%;
    margin-bottom: 2em;

    &.is-loading {
        image-rendering: -webkit-optimize-contrast;
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
    }
}

a {
    color: black;
    text-decoration: none;
}
